{:new-pasta "🌺🌼 פסטה חדשה 🌼🌺"
 :author "השף"
 :creation-date "תאריך בישול"
 :peek "הצצה"
 :view-pasta "כנסו"
 :back "חזרה"

 :search "חיפושי"
 :search-results "תוצאות חיפוש"

 :submitted-by "בושל על ידי "
 :submitted-at " ב"

 :copy "תעתיקו לי 🍝🤤"

 ;; form
 :author-form "מי את?"
 :content "הפסטה"
 :submit "יאללה"
 :cancel "עזוב"}

