{:new-pasta "🌺🌼 פסטה חדשה 🌼🌺"
 :author "המוח מאחורי"
 :creation-date "תאריך בישול"
 :peek "הצצה"
 :view-pasta "תראו הכל"
 :search "חיפושי"

 :back "חזרה"

 :submitted-by "בושל על ידי "
 :submitted-at " ב"

 ;; form
 :author-form "מי את?"
 :content "הפסטה"
 :submit "יאללה"
 :cancel "עזוב"}
