{:dev {:database "postgres"
       :adapter "postgres"
       :username "postgres"
       :password "mysecretpassword"
       :host "localhost"
       :port 5432}

 :prod {:database #env :db-name
        :adapter "postgres"
        :username #env :db-username
        :password #env :db-password
        :host #env :db-host
        :port #env :db-port}}
