{:dev {:database "copypastot_dev.sqlite3"
       :adapter "sqlite"
       :debug true}

 :test {:database "copypastot_test.sqlite3"
        :adapter "sqlite"}

 :prod {:database #env :db-name
        :adapter "postgres"
        :username #env :db-username
        :password #env :db-password
        :host #env :db-host
        :port #env :db-port}}
